<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<body>
	<script th:src="@{/js/web/accesories/accesories.js}"
		type="text/javascript"></script>
	<nav th:insert="layout::menu"></nav>
	<br>
	<button type="button" id="btnagregar" class="btn btn-primary">Agregar
		Nueva Accesorio</button>
	<br>
	<table class="table" id="tblcategoria">
		<thead>
			<tr>
				<th scope="col">Código</th>
				<th scope="col">Nombre</th>
				<th scope="col">Descripcion</th>
				<th scope="col">ID Producto</th>
				<th scope="col">ID Company</th>
				<th scope="col">ID Categoria</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="accesories :${lstAccesorios}">

				<td th:text="${accesories.id_accessories}"></td>
				<td th:text="${accesories.name}"></td>
				<td th:text="${accesories.description}"></td>
				<!-- private Long id_product jala del private no del nombre de la tabla -->
				<td th:text="${accesories.product.id_product}"></td>
				<td th:text="${accesories.companies.id_company}"></td>
				<td th:text="${accesories.category.id}"></td>
				<td>
					<button type="button" class="btn btn-success btnactualizar"
						th:data-idaccessories="${accesories.id_accessories}"
						th:data-nombre="${accesories.name}"
						th:data-descripcion="${accesories.description}"
						th:data-idproduct="${accesories.product.id_product}"
						th:data-idcompanies="${accesories.companies.id_company}"
						th:data-categoria="${accesories.category.id}">
						<i class="fas fa-pen"></i>
					</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger btneliminarcategoria"
						th:data-idaccessories="${accesories.id_accessories}"
						th:data-nombre="${accesories.name}"
						th:data-descripcion="${accesories.description}"
						th:data-idproduct="${accesories.product.id_product}"
						th:data-idcompanies="${accesories.companies.id_company}"
						th:data-categoria="${accesories.category.id}">
						<i class="fas fa-trash"></i>
					</button>
				</td>

			</tr>
		</tbody>
	</table>

	<!-- Modal Registro / actualizacion Producto -->
	<div class="modal fade" id="modalCategoria" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Mantenimiento
						Accesorios</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="txtid" class="form-label">Id</label> <input
							type="text" class="form-control" id="txtid">
					</div>
					<div class="mb-3">
						<label for="txtnombre" class="form-label">Nombre</label> <input
							type="text" class="form-control" id="txtnombre">
					</div>
					<div class="mb-3">
						<label for="txtdescripcion" class="form-label">Descripcion:</label>
						<input type="text" class="form-control" id="txtdescripcion">
					</div>
					<div class="mb-3">
						<label for="txtidproducto" class="form-label">Producto:</label> <input
							type="text" class="form-control" id="txtidproducto">
					</div>
					<div class="mb-3">
						<label for="txtidcompany" class="form-label">Compañia:</label> <input
							type="text" class="form-control" id="txtidcompany">
					</div>
					<div class="mb-3">
						<label for="txtidcategoria" class="form-label">Categoria:</label>
						<input type="text" class="form-control" id="txtidcategoria">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Eliminar Producto -->
	<div class="modal fade" id="modalEliminarCategoria" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar
						Accesorio</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<label id="mensajeeliminar"></label> <input type="hidden"
						id="hddideliminarsala" value="0">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" id="btneliminar">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>